0x01-ES6_promise/package.json
0x01-ES6_promise/.eslintrc.js
0x01-ES6_promise/utils.js
0x01-ES6_promise/node_modules
0x01-ES6_promise/babel.config.js
0x01-ES6_promise/package-lock.json
0x01-ES6_promise/main.js

0x00-ES6_basic/package.json
0x00-ES6_basic/.eslintrc.js
0x00-ES6_basic/utils.js
0x00-ES6_basic/node_modules
0x00-ES6_basic/babel.config.js
0x00-ES6_basic/package-lock.json
0x00-ES6_basic/main.js

0x03-ES6_data_manipulation/package.json
0x03-ES6_data_manipulation/.eslintrc.js
0x03-ES6_data_manipulation/utils.js
0x03-ES6_data_manipulation/node_modules
0x03-ES6_data_manipulation/babel.config.js
0x03-ES6_data_manipulation/package-lock.json
0x03-ES6_data_manipulation/main.js